@model CrudNet8MVC.Models.Contacto

@{
    ViewData["Title"] = "Eliminar contacto";
}

<h1 class="text-center">Eliminar contacto: @Html.DisplayFor(m => m.Nombre)</h1>

<div class="row mb-3 d-flex justify-content-between">
    <div class="col-auto">
        <a asp-action="Index" asp-controller="Inicio" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left mr-2"></i> Regresar
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Crear Usuario</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Eliminar">
                    <!-- ID oculto -->
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group m-3">
                        <label asp-for="Nombre" class="control-label mb-3"></label>
                        <input asp-for="Nombre" class="form-control" readonly />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Oficio" class="control-label mb-3"></label>
                        <input asp-for="Oficio" class="form-control" readonly />
                        <span asp-validation-for="Oficio" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Telefono" class="control-label mb-3"></label>
                        <input asp-for="Telefono" class="form-control" readonly />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Email" class="control-label mb-3"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-danger d-block mx-auto">Eliminar <i class="fa-solid fa-user"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

